<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggj.article.module.business.dao.MediaSettleMentMapper">
    <cache/>
    <resultMap id="BaseResultMap" type="com.ggj.article.module.business.bean.MediaSettleMent">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="article_id" jdbcType="INTEGER" property="articleId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="original_price" jdbcType="DECIMAL" property="originalPrice"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="flag" jdbcType="VARCHAR" property="flag"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <association property="article" javaType="article">
            <result column="user_id" jdbcType="INTEGER" property="userId"/>
            <result column="custom_id" jdbcType="INTEGER" property="customId"/>
            <result column="editor_id" jdbcType="INTEGER" property="editorId"/>
            <result column="custom_name" jdbcType="VARCHAR" property="customName"/>
            <result column="media_name" jdbcType="VARCHAR" property="mediaName"/>
            <!--username用来存编辑的姓名-->
            <result column="user_name" jdbcType="VARCHAR" property="userName"/>
            <result column="editor_name" jdbcType="VARCHAR" property="editorName"/>
            <result column="title" jdbcType="VARCHAR" property="title"/>
            <result column="article_status" jdbcType="VARCHAR" property="status"/>
            <result column="media_name" jdbcType="VARCHAR" property="mediaName"/>
            <result column="url" jdbcType="VARCHAR" property="url" />
            <result column="verify_url" jdbcType="VARCHAR" property="verifyUrl" />
            <result column="cost_price" jdbcType="DECIMAL" property="costPrice"/>
            <result column="custom_price" jdbcType="DECIMAL" property="customPrice"/>
            <result column="verify_date" jdbcType="TIMESTAMP" property="verifyDate"/>
            <result column="create_date2" jdbcType="TIMESTAMP" property="createDate"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    a.*,b.user_id as'user_id',b.status as'article_status',b.custom_id as'custom_id',b.url as'url',b.verify_url as'verify_url',b.editor_id as'editor_id',b.media_name as'media_name',b.custom_name as'custom_name'
    ,b.title as 'title',b.cost_price as 'cost_price',b.custom_price as'custom_price',b.user_name as'user_name',b.editor_name as'editor_name'
    ,b.verify_date as'verify_date',b.create_date as 'create_date2'
  </sql>

    <resultMap id="CountResultMap" type="com.ggj.article.module.business.bean.MediaSettleMentCount">
        <result column="total" jdbcType="INTEGER" property="total"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="sum_custom_price" jdbcType="DECIMAL" property="sumCustomPrice"/>
        <result column="sum_cost_price" jdbcType="DECIMAL" property="sumCostPrice"/>
        <result column="sum_settle_price" jdbcType="DECIMAL" property="sumSettlePrice"/>
    </resultMap>
    <sql id="Inner_jonid_Column">
    INNER JOIN  tb_article b on a.article_id = b.id
  </sql>
    <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_media_settlement
        where id = #{id,jdbcType=INTEGER} and flag="0"
    </select>
    <select id="findList" parameterType="MediaSettleMent" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_media_settlement a
        <include refid="Inner_jonid_Column"/>
        where a.flag="0" and b.status=2
        <if test="articleId!=null and articleId!=''">
            and a.article_id=#{articleId}
        </if>
        <if test="status!=null and status!=''">
            and a.status=#{status}
        </if>
        <if test='type!=null and type!=""'>
            and a.type=#{type}
        </if>
        <if test="article!=null and article.userId!=null and article.userId!=''">
            and b.user_id=#{article.userId}
        </if>
        <if test="article.editorId!=null and article.editorId!=''">
            and b.editor_id=#{article.editorId}
        </if>
        <if test="article.customId!=null and article.customId!=''">
            and b.custom_id=#{article.customId}
        </if>
        <if test='type!=null and type!="" and type=="2"  and bussinnessType=="2" '>
            and a.article_id in ( select c.article_id from tb_media_settlement c where c.type=1 and c.status=1)
        </if>
        <if test='article.beginTimeStr != null and article.beginTimeStr != "" and article.timeType=="1" '>
            and b.create_date<![CDATA[ >=  ]]> #{article.beginTime,jdbcType=TIMESTAMP}
        </if>
        <if test='article.endTimeStr != null and article.endTimeStr != "" and article.timeType=="1" '>
            and b.create_date <![CDATA[ <=  ]]>#{article.endTime,jdbcType=TIMESTAMP}
        </if>
        <if test='article.beginTimeStr != null and article.beginTimeStr != "" and article.timeType=="2" '>
            and b.verify_date<![CDATA[ >=  ]]> #{article.beginTime,jdbcType=TIMESTAMP}
        </if>
        <if test='article.endTimeStr != null and article.endTimeStr != "" and article.timeType=="2" '>
            and b.verify_date <![CDATA[ <=  ]]>#{article.endTime,jdbcType=TIMESTAMP}
        </if>
        order by a.id desc
    </select>
    <delete id="delete" parameterType="MediaSettleMent">
    delete from tb_media_settlement  where article_id=#{articleId}
  </delete>

    <insert id="insert" parameterType="com.ggj.article.module.business.bean.MediaSettleMent">
        insert into tb_media_settlement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="articleId != null">
                article_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="originalPrice != 0">
                original_price,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="articleId != null">
                #{articleId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="originalPrice != null">
                #{originalPrice,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.ggj.article.module.business.bean.MediaSettleMent">
        update tb_media_settlement
        <trim prefix="set" suffixOverrides=",">
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="originalPrice != null">
                original_price = #{originalPrice,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                flag =#{flag,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <insert id="saveBatchSettle" parameterType="java.util.List">
        insert into tb_media_settlement (article_id,type,price,status,flag)
        <foreach collection="list" item="settle" separator=" union all ">
            select
            #{settle.articleId},#{settle.type},#{settle.price},#{settle.status} ,#{settle.flag}
            from dual
        </foreach>
    </insert>


    <select id="settleStatistics" parameterType="MediaSettleMent" resultMap="CountResultMap">
        select sum(b.price) as 'sum_settle_price',sum(c.cost_price) as 'sum_cost_price',sum(c.custom_price) as
        'sum_custom_price',count(*) as
        'total',b.status
        from tb_media_settlement b,
        (select a.id ,a.cost_price ,a.custom_price from tb_article a
        where a.flag=0 and a.user_id is not null
        <if test="article!=null and article.userId!=null and article.userId!=''">
            and a.user_id=#{article.userId}
        </if>
        <if test="article.editorId!=null and article.editorId!=''">
            and a.editor_id=#{article.editorId}
        </if>
        <if test="article.customId!=null and article.customId!=''">
            and a.custom_id=#{article.customId}
        </if>
        <!--客户已经结算但是员工未向公司结算的金额-->
        <if test='type!=null and type!="" and type=="2" and bussinnessType=="2" '>
            and a.id in ( select e.article_id from tb_media_settlement e where e.type=1 and e.status=1 and e.flag='0')
        </if>
        <if test='article.beginTimeStr != null and article.beginTimeStr != "" and article.timeType=="1" '>
            and a.create_date<![CDATA[ >=  ]]> #{article.beginTime,jdbcType=TIMESTAMP}
        </if>
        <if test='article.endTimeStr != null and article.endTimeStr != "" and article.timeType=="1" '>
            and a.create_date <![CDATA[ <=  ]]>#{article.endTime,jdbcType=TIMESTAMP}
        </if>
        <if test='article.beginTimeStr != null and article.beginTimeStr != "" and article.timeType=="2" '>
            and a.verify_date<![CDATA[ >=  ]]> #{article.beginTime,jdbcType=TIMESTAMP}
        </if>
        <if test='article.endTimeStr != null and article.endTimeStr != "" and article.timeType=="2" '>
            and a.verify_date <![CDATA[ <=  ]]>#{article.endTime,jdbcType=TIMESTAMP}
        </if>
        )as c
        where b.article_id = c.id  and b.flag='0' and
        <!--员工-客户或者员工-系统统计-->
        <choose>
            <when test='article!=null and article.userId!=null  and article.userId!="" and bussinnessType=="2"'>
                b.type=2
            </when>
            <!--系统员工结算 bussinnessType=="2"-->
            <when test='article!=null and article.userId!=null  and article.userId!="" and bussinnessType=="1"'>
                b.type=1
            </when>
            <!--编辑统计-->
            <when test="article.editorId!=null and article.editorId!=''">
                b.type=3
            </when>
            <!--客户统计-->
            <when test="article.customId!=null and article.customId!=''">
                b.type=1
            </when>
            <when test='type!=null and type!="" and article.userId==null and (type=="2" or type=="3") and bussinnessType=="2" '>
                b.type=#{type}
            </when>
            <when test='type!=null and type!="" and article.userId==null  and bussinnessType=="3" '>
                b.type=#{type}
            </when>
            <when test='type!=null and type!="" and article.userId!=null  and bussinnessType=="3" '>
                b.type=#{type}
            </when>
        </choose>
        group by b.`status`
    </select>
</mapper>