<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggj.article.module.business.dao.MediaEditorMapper">
  <resultMap id="BaseResultMap" type="com.ggj.article.module.business.bean.MediaEditor">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="media_id" jdbcType="INTEGER" property="mediaId" />
    <result column="editor_id" jdbcType="INTEGER" property="editorId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <delete id="delete" parameterType="MediaEditor">
    delete from tb_media_editor where editor_id=#{editorId}
  </delete>

  <insert id="saveUserInfoMedia">
    insert into tb_media_editor (media_id,editor_id,create_date,create_user,flag)
    <foreach collection="mediaList" item="item" separator=" union all ">
      select
      #{item.id},#{id},#{createDate},#{createUser},#{flag} from dual
    </foreach>
  </insert>
</mapper>